<template name="assos_item">
  <li class="media media-select p-1">
    <img class="mr-3" src="/img/placeholder.png" alt="Generic placeholder image">
    <div class="media-body">
      <h5 class="mt-0 mb-1">Rally de St Paul</h5>
      <p class="text-info mb-1">
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
      </p>
      <p class="mb-1">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin...</p>
    </div>
  </li>
</template>

<template name="assos_list">
  <ul class="list-unstyled">
    {{> assos_item}}
    {{> assos_item}}
    {{> assos_item}}
  </ul>
</template>